.header {
  background-color: #242731;
  &__hello,
  &__login {
    min-height: 78px;
    display: flex;
    justify-content: end;
    align-items: center;
    &-text {
      padding-right: 42px;
    }
  }
  &__login-text {
    transition: color 0.3s ease-in;
    &:hover {
      color: #2284bb;
    }
  }
  .admin__link{
    color: #2284bb;
    transition: color 0.2s ease-in;
    margin-right: 15px;
    &:hover{
      color: #26a5ec;
    }
  }
}
